# Compiled Object files
*.o
*.obj
*.ko
*.elf

# Executables
*.exe
*.out
*.app
demo

# Debug files
*.dSYM/
*.su

# Build directories
build/
bin/

# Editor files
.DS_Store
*.swp
*.swo
*~

# Other
*.log
.env
